.titulo{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.titulo__texto{

    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    text-transform: uppercase;

}

.titulo__linha {


    border: solid #B51D44;
    width: 120px;

}

.titulo__texto--branco{

    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    text-transform: uppercase;
    color: white;

}


.titulo__linha--branco {

    border: solid white;
    width: 120px;

}